

  <div class="jumbotron">
    <h1>Eat-Da-Burger</h1>
    <br>

<img src= "../public/img/burger.png">
      <form class="create-form">
        <div class="form-group">
          <label for="newburger">Burgers You Want To Try:</label>
          <input type="text" id="newburger" name="burger">
          <button type="submit" class="btn btn-success" id="addburger">Add Burger</button>
        </div>
      </form>

  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading" id="lefthead"><h4>Burgers You Want to Try:</h4></div>
        <div class="panel-body">
          <ul>
            {{#each burger}}
            {{#unless devoured}}
            <h4> {{this.id}} - {{this.burger_name}} </h4> 
            <button type="button" class="eatburger btn btn-warning" id="eatbutton" data-id="{{this.id}}"
              data-newDevoured="{{devour}}">Devour</button>
            <hr>
            {{/unless}}
            {{/each}}
          </ul>
        </div>
      </div>
    </div>


    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading" id="righthead">
          <h4>Burgers You Devoured</h4>
          </div>
        <div class="panel-body">
          <ul>
            {{#each burger}}
            {{#if devoured}}
            <span><strong> {{this.id}} - {{this.burger_name}} </strong></span>
          
            <hr>
            {{/if}}
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>

